// Place all the styles related to the vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
div {
    color:rgb(224, 219, 212);
    
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

label {
    color:rgb(224, 219, 212);

}

.text_field {
    color:rgb(224, 219, 212);
}

.head {
    color:rgb(224, 219, 212);
}